.textoBoasVindas{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px ;
}

.botaoAddViagem{
 padding: 15px 15px;
}
.mat-card{
  margin: 0px 15px;
}



.alignLugares{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.action:hover{
  cursor: pointer;

}

.alignIcons{
  display: flex;
}
