<div class="textoBoasVindas">
  <h1>Seja bem vindo !</h1>
</div>
<mat-card>
  <mat-list>
    <mat-list-item>
      Selecione uma viagem para começar
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item *ngFor="let item of viagem | async">
      <div class="alignLugares">
        <div [routerLink]="['gastos', item.idviagem]" class="action">{{ item.lugar }}</div>
        <div class="alignIcons">
          <div class="action" (click)="editarViagem(item)">
            <img
              [src]="this.icons.lapisIcon"
              width="20px"
            />
          </div>

          <div class="action" style="margin-left: 7px" (click)="deletarViagem(item)">
            <img
              [src]="this.icons.lixeiraIcon"
              width="20px"
            />
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>

<div class="botaoAddViagem">
  <button routerLink="add" class="btn btn-block btn-info btn-xl">
    <i class="fas fa-check-double"></i>Adicionar Viagem
  </button>
</div>

<div *ngIf="messages" class="alert alert-success" role="alert">
  {{ messages }}
</div>
