<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Registrar-se</h3>

      <form [formGroup]="formLogin">
        <div class="formGroup">
          <input type="text" class="formControl" formControlName="name" placeholder="Nome e sobrenome" #name required>
        </div>



        <!-- <div class="control-group">
        <div class="">
          <label>Foto de Perfil:</label>

          <input type="file"  #inputFile placeholder=""  class="form-control"  id="form-input" (change)="upload($event)" accept=".jpg,.jpeg,.png"/>
          <progress style="width: 100%;" max="100" [value]="(uploadPercent | async)"></progress>
        </div>
          </div>
         <div *ngIf="fotoPerfil" id="imagemUp" class="control-group">
        <div class="form-group floating-label-form-group controls ">
         <img style="width: 90%" [src]="fotoPerfil">
        </div>
          </div>
            <br>
-->

        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Endereço de E-mail" #userEmail required>
        </div>


        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Senha" #userPwd required>
        </div>


        <div class="formGroup">
          <input type="button" [disabled]='!formLogin.valid' class="btn btnPrimary" value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value,name.value)">
        </div>

      </form>


      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue com Google
        </button>
      </div>

      <!-- Continue with Facebook -->
      <div class="formGroup">
        <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook"></i>
          Continue com Facebook
        </button>
      </div>


    </div>

    <div class="redirectToLogin">
      <span>Já Possui uma Conta? <span class="redirect" routerLink="/sign-in">Entrar</span></span>
    </div>
  </div>

</div>
